[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
jsonschema = "*"
jsonref = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pydocstyle = "*"
pytest-mock = "*"
mock = "*"

[requires]
python_version = "3.6"
